@model IEnumerable<Logic.ApplicationUser>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dejting in the dark</h1>
    <p class="lead">Find your true match</p>
  
</div>
<div class="row">
    @foreach (var item in Model)
    {
        var userProfile = item.Id;


        <div class="col-md-4">
            <div>
                    <img src="@Url.Action("UserPhotoOthers", "Home", new { id = item.Id})" style="width:160px;height:160px; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
                
                <a href="@Url.Action("OthersProfileInfo", "User", new { id = item.Id})">
                    <h3>@item.Alias</h3>

                </a>
            </div>
        </div>
    }
</div>
