@model IEnumerable<Logic.ApplicationUser>

@{
    ViewBag.Title = "Friends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Friends</h2>

<table class="table">
 

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
           

            <td>
                @Html.ActionLink("Profile", "OthersProfileInfo", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Show Friend Requests", "ListPotentialFriends")
