
@model IEnumerable<Logic.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>
<table class="table">
    <tr>
        <th>
          
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {
        <p>
            Search name: @Html.TextBox("SearchString") <br />
            <input type="submit" value="Filter" />
        </p>
    }
    
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.ActionLink("Profile", "OthersProfileInfo", "User", new {id = item.Id}, new { } )
            </td>
           
        </tr>
    }

</table>