@model Projekt.Models.FriendViewModel

@{
    ViewBag.Title = "ListPotentialFriends";
}

<h2>My Friend Request</h2>
<h2>Index</h2>
<table class="table">
    <tr>
        <th>

        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm())
    {

    }

    @foreach (var item in Model.Friends)
    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Requester.UserName)
        </td>

        <td>
            @Html.ActionLink("Accept Friend", "AcceptFriend", new { id = item.ID })
        </td>
    </tr>
    }

</table>