@model IEnumerable<Logic.ApplicationUser>
@{
    ViewBag.Title = "MyfriendRequests";
}

<h2>MyfriendRequests</h2>
@foreach (var item in Model)
{

    @Html.ActionLink("Se dina vänförfrågningar", "ListPotentialFriends", "User", new { id = item.Id })

}